@model IEnumerable<ExpenseReport.Expens>
@using System.Configuration

@{
    ViewBag.Title = "Expense";

}
<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        margin: 2px;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        /*border: 1px solid #ccc;*/
        border-top: none;
    }
</style>
<br />
<h2>Expenses</h2>
<br />

<div class="tab">
    <div class="row">
        <div class="col-sm-2">
            <button class="tablinks" onclick="openCity(event, 'January')">January</button>
        </div>
        <div class="col-sm-2">
            <button class="tablinks" onclick="openCity(event, 'February')">February</button>
        </div>
        <div class="col-sm-2">
            <button class="tablinks" onclick="openCity(event, 'March')">March</button>
        </div>
        <div class="col-sm-2">
            <button class="tablinks" onclick="openCity(event, 'April')">April</button>
        </div>
        <div class="col-sm-2">
            <button class="tablinks" onclick="openCity(event, 'May')">May</button>
        </div>
        <div class="col-sm-2">
            <button class="tablinks" onclick="openCity(event, 'June')">June</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <button class="tablinks" onclick="openCity(event, 'July')">July</button>
        </div>
        <div class="col-sm-2">
            <button class="tablinks" onclick="openCity(event, 'August')">August</button>
        </div>
        <div class="col-sm-2">
            <button class="tablinks" onclick="openCity(event, 'September')">September</button>
        </div>
        <div class="col-sm-2">
            <button class="tablinks" onclick="openCity(event, 'October')">October</button>
        </div>
        <div class="col-sm-2">
            <button class="tablinks" onclick="openCity(event, 'November')">November</button>
        </div>
        <div class="col-sm-2">
            <button class="tablinks" onclick="openCity(event, 'December')">December</button>
        </div>
    </div>
</div>
<br />

@*January Table*@
<div id="January" class="tabcontent">
    <h4>Summary</h4>
    <div id="summary">
        <table id="summaryTable" class="table table-active table-striped table-primary">
            <thead>
                <tr>
                    <th>Number of Transactions</th>
                    <th>Average Spent</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var month in ViewBag.Months)
                {
                    if (month.TransactionMonth == ConfigurationManager.AppSettings["January"])
                    {
                        <tr>
                            <td>@month.NumOfTransactions</td>
                            <td>$@month.AverageSpent</td>
                            <td>$@month.TotalSpent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <h4>Transactions</h4>
    <table id="januaryTable" class="table table-active table-striped table-primary">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.TransactionType)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.WorkExpense)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.TransactionMonth == ConfigurationManager.AppSettings["January"])
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>$@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.WorkExpense)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*February Table*@
<div id="February" class="tabcontent">
    <h4>Summary</h4>
    <div id="summary">
        <table id="summaryTable" class="table table-active table-striped table-primary">
            <thead>
                <tr>
                    <th>Number of Transactions</th>
                    <th>Average Spent</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var month in ViewBag.Months)
                {
                    if (month.TransactionMonth == ConfigurationManager.AppSettings["February"])
                    {
                        <tr>
                            <td>@month.NumOfTransactions</td>
                            <td>$@month.AverageSpent</td>
                            <td>$@month.TotalSpent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <h4>Transactions</h4>
    <table id="februaryTable" class="table table-active table-striped table-primary">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.TransactionType)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.WorkExpense)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.TransactionMonth == ConfigurationManager.AppSettings["February"])
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>$@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.WorkExpense)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*March Table*@
<div id="March" class="tabcontent">
    <h4>Summary</h4>
    <div id="summary">
        <table id="summaryTable" class="table table-active table-striped table-primary">
            <thead>
                <tr>
                    <th>Number of Transactions</th>
                    <th>Average Spent</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var month in ViewBag.Months)
                {
                    if (month.TransactionMonth == ConfigurationManager.AppSettings["March"])
                    {
                        <tr>
                            <td>@month.NumOfTransactions</td>
                            <td>$@month.AverageSpent</td>
                            <td>$@month.TotalSpent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <h4>Transactions</h4>
    <table id="marchTable" class="table table-active table-striped table-primary">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.TransactionType)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.WorkExpense)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.TransactionMonth == ConfigurationManager.AppSettings["March"])
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>$@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.WorkExpense)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

@*April Table*@
<div id="April" class="tabcontent">
    <h4>Summary</h4>
    <div id="summary">
        <table id="summaryTable" class="table table-active table-striped table-primary">
            <thead>
                <tr>
                    <th>Number of Transactions</th>
                    <th>Average Spent</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var month in ViewBag.Months)
                {
                    if (month.TransactionMonth == ConfigurationManager.AppSettings["April"])
                    {
                        <tr>
                            <td>@month.NumOfTransactions</td>
                            <td>$@month.AverageSpent</td>
                            <td>$@month.TotalSpent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <h4>Transactions</h4>
    <table id="aprilTable" class="table table-active table-striped table-primary">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.TransactionType)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.WorkExpense)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.TransactionMonth == ConfigurationManager.AppSettings["April"])
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>$@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.WorkExpense)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*May Table*@
<div id="May" class="tabcontent">
    <h4>Summary</h4>
    <div id="summary">
        <table id="summaryTable" class="table table-active table-striped table-primary">
            <thead>
                <tr>
                    <th>Number of Transactions</th>
                    <th>Average Spent</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var month in ViewBag.Months)
                {
                    if (month.TransactionMonth == ConfigurationManager.AppSettings["May"])
                    {
                        <tr>
                            <td>@month.NumOfTransactions</td>
                            <td>$@month.AverageSpent</td>
                            <td>$@month.TotalSpent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <h4>Transactions</h4>
    <table id="mayTable" class="table table-active table-striped table-primary">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.TransactionType)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.WorkExpense)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.TransactionMonth == ConfigurationManager.AppSettings["May"])
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>$@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.WorkExpense)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*June Table*@
<div id="June" class="tabcontent">
    <h4>Summary</h4>
    <div id="summary">
        <table id="summaryTable" class="table table-active table-striped table-primary">
            <thead>
                <tr>
                    <th>Number of Transactions</th>
                    <th>Average Spent</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var month in ViewBag.Months)
                {
                    if (month.TransactionMonth == ConfigurationManager.AppSettings["June"])
                    {
                        <tr>
                            <td>@month.NumOfTransactions</td>
                            <td>$@month.AverageSpent</td>
                            <td>$@month.TotalSpent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <h4>Transactions</h4>
    <table id="juneTable" class="table table-active table-striped table-primary">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.TransactionType)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.WorkExpense)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.TransactionMonth == ConfigurationManager.AppSettings["June"])
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>$@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.WorkExpense)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*July Table*@
<div id="July" class="tabcontent">
    <h4>Summary</h4>
    <div id="summary">
        <table id="summaryTable" class="table table-active table-striped table-primary">
            <thead>
                <tr>
                    <th>Number of Transactions</th>
                    <th>Average Spent</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var month in ViewBag.Months)
                {
                    if (month.TransactionMonth == ConfigurationManager.AppSettings["July"])
                    {
                        <tr>
                            <td>@month.NumOfTransactions</td>
                            <td>$@month.AverageSpent</td>
                            <td>$@month.TotalSpent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <h4>Transactions</h4>
    <table id="julyTable" class="table table-active table-striped table-primary">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.TransactionType)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>$@Html.DisplayNameFor(model => model.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.WorkExpense)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.TransactionMonth == ConfigurationManager.AppSettings["July"])
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>$@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.WorkExpense)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*August Table*@
<div id="August" class="tabcontent">
    <h4>Summary</h4>
    <div id="summary">
        <table id="summaryTable" class="table table-active table-striped table-primary">
            <thead>
                <tr>
                    <th>Number of Transactions</th>
                    <th>Average Spent</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var month in ViewBag.Months)
                {
                    if (month.TransactionMonth == ConfigurationManager.AppSettings["August"])
                    {
                        <tr>
                            <td>@month.NumOfTransactions</td>
                            <td>$@month.AverageSpent</td>
                            <td>$@month.TotalSpent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <h4>Transactions</h4>
    <table id="augustTable" class="table table-active table-striped table-primary">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.TransactionType)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.WorkExpense)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.TransactionMonth == ConfigurationManager.AppSettings["August"])
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>$@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.WorkExpense)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*September Table*@
<div id="September" class="tabcontent">
    <h4>Summary</h4>
    <div id="summary">
        <table id="summaryTable" class="table table-active table-striped table-primary">
            <thead>
                <tr>
                    <th>Number of Transactions</th>
                    <th>Average Spent</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var month in ViewBag.Months)
                {
                    if (month.TransactionMonth == ConfigurationManager.AppSettings["September"])
                    {
                        <tr>
                            <td>@month.NumOfTransactions</td>
                            <td>$@month.AverageSpent</td>
                            <td>$@month.TotalSpent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <h4>Transactions</h4>
    <table id="septemberTable" class="table table-active table-striped table-primary">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.TransactionType)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.WorkExpense)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.TransactionMonth == ConfigurationManager.AppSettings["September"])
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>$@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.WorkExpense)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*October Table*@
<div id="October" class="tabcontent">
    <h4>Summary</h4>
    <div id="summary">
        <table id="summaryTable" class="table table-active table-striped table-primary">
            <thead>
                <tr>
                    <th>Number of Transactions</th>
                    <th>Average Spent</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var month in ViewBag.Months)
                {
                    if (month.TransactionMonth == ConfigurationManager.AppSettings["October"])
                    {
                        <tr>
                            <td>@month.NumOfTransactions</td>
                            <td>$@month.AverageSpent</td>
                            <td>$@month.TotalSpent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <h4>Transactions</h4>
    <table id="octoberTable" class="table table-active table-striped table-primary">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.TransactionType)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.WorkExpense)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.TransactionMonth == ConfigurationManager.AppSettings["October"])
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>$@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.WorkExpense)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*November Table*@
<div id="November" class="tabcontent">
    <h4>Summary</h4>
    <div id="summary">
        <table id="summaryTable" class="table table-active table-striped table-primary">
            <thead>
                <tr>
                    <th>Number of Transactions</th>
                    <th>Average Spent</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var month in ViewBag.Months)
                {
                    if (month.TransactionMonth == ConfigurationManager.AppSettings["November"])
                    {
                        <tr>
                            <td>@month.NumOfTransactions</td>
                            <td>$@month.AverageSpent</td>
                            <td>$@month.TotalSpent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <h4>Transactions</h4>
    <table id="novemberTable" class="table table-active table-striped table-primary">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.TransactionType)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.WorkExpense)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.TransactionMonth == ConfigurationManager.AppSettings["November"])
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>$@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.WorkExpense)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*December Table*@
<div id="December" class="tabcontent">
    <h4>Summary</h4>
    <div id="summary">
        <table id="summaryTable" class="table table-active table-striped table-primary">
            <thead>
                <tr>
                    <th>Number of Transactions</th>
                    <th>Average Spent</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var month in ViewBag.Months)
                {
                    if (month.TransactionMonth == ConfigurationManager.AppSettings["December"])
                    {
                        <tr>
                            <td>@month.NumOfTransactions</td>
                            <td>$@month.AverageSpent</td>
                            <td>$@month.TotalSpent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <h4>Transactions</h4>
    <table id="decemberTable" class="table table-active table-striped table-primary">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.TransactionType)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.WorkExpense)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.TransactionMonth == ConfigurationManager.AppSettings["December"])
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>$@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.WorkExpense)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<p>
    @Html.ActionLink("Home", "Index")
</p>


<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
